
.section-footer-top {
  width: 100%;
  height: auto;

  background-image: url('../assets/images/25.fw.png');
  background-repeat: no-repeat;
  background-size: cover;

  .box {
    &:first-child {
      padding: 47px 38px 21px 15px;

      .description {
        padding: 30px 6px 16px;
    
        font-family: $font-opensans-regular;
        font-size: 15px;
        color: $white;
        line-height: 28px;
    
        opacity: .8;
      }

      .icon {
        padding-left:5px;
      }

      .link {
        padding-bottom: 4px;
     
        font-size: 15px;
        color: $white;
        text-decoration: none;
  
        border-bottom: 1px solid $white;
       
        opacity: .9;

        &:hover {
          border-bottom-width: 3px;
        }
      }
    }

    &:nth-child(2) {
      padding: 40px 50px 22px 41px;

      border-right: 1px solid rgba(255, 255, 255, 0.3);
      border-left: 1px solid rgba(255, 255, 255, 0.3);

      .description {
         padding: 16px 34px 13px 7px;
        
        font-family: $font-opensans-regular;
        font-size: 15px;
        color: $white;
        line-height: 28px;
    
        opacity: .8;
      }

      .icon {
        padding-left:5px;
      }

      .link {
        padding-bottom: 5px;
  
        font-size: 15px;
        color: $white;
        text-decoration: none;
  
        border-bottom: 1px solid $white;
       
        opacity: 0.9; 
      }

      .link:hover {
        border-bottom-width: 3px;
      }
    }

    &:last-child {
      padding: 45px 40px 38px 59px;

      .icon {
        padding-bottom: 17px;
        padding-left: 51px;
      }

      .phone-number { 
        display: flex;
        margin: 27px 47px 31px;
      
        font-family: $font-opensans-bold;
        font-size: 35px; 
        color: $white;
        line-height: 28px;
        text-decoration: none;
    
        opacity: .8;
      }

      .link {
        padding-bottom: 5px;
        margin-left: 54px;
  
        font-size: 15px;
        color: $white;
        text-decoration: none;
  
        border-bottom: 1px solid white;
      
        opacity: 0.9;
      }

      .link:hover {
        border-bottom-width: 3px;
      }
    }
  }

  .footer-boxes {
    padding: 0 60px 0 50px;
  }

  .text-contact,
  .footer-koein {
    display: none;
  }
}

.section-footer-bottom {
  width: 100%;
  height: auto;

  background-color: $white;

  .footer-list-items {
    padding: 23px 0px;
    margin-top: 17px;
  }

  .list-items {
    display: inline-block;
    padding: 11px 40px;
    margin-left: -33px;

    font-family: $font-opensans-regular;
    font-size: 13px;
    text-decoration: none;
  }

  .footer-icon-list {
    padding: 22px 0px;
    margin: 0;

    text-align: right;
  }

  .icon-items {
    display: inline-block;
    padding: 10px 4px;

    text-decoration: none;
  }

  .link {
    text-decoration: none;
    color: $mostly-black;
  }

  .link:hover {
    color: $dark-blue;
    text-decoration:2px solid underline;
    text-underline-offset: 8px;
  }
}

@include respond-to (lg) {
  .section-footer-top {
    width: 100%;
    height: auto;

    .footer-boxes {
      padding: 0 16px 0 12px;
    }

    .box {
      &:first-child {
        padding: 34px 20px 50px 10px;
      }

      &:nth-child(2) {
        padding: 34px 10px 50px 17px;

        .description {
          padding: 7px 12px 13px 7px;
        }
      }

      &:last-child {
        padding: 34px 20px 50px 10px;

        .phone-number {
          margin: 27px 3px 54px 40px;
        }
      }
    }

    .phone-number {
      margin-bottom: 78px;

      font-size: 33px;
    }
  }

  .section-footer-bottom {
    width: 100%;
    height: auto;

    .footer-icon-list {
      padding: 19px 10px ;
    }
  }
}

@include respond-to (md){
  .section-footer-top {
    width: 100%;
    height: auto;

    .footer-boxes {
      padding: 0;
    }

    .box {
      &:first-child {
        padding: 23px 10px 15px 17px;

        .icon > img {
          margin-top: 3px;
          margin-left: 3px;
          width: 18%
        }

        .description {
          padding: 14px 0 2px 9px;

          font-size: 14px; 
          line-height: 24px; 
        }

        .link {
          margin-left: 8px;

          font-size: 12px;
        }
      }

      &:nth-child(2) {
        padding: 23px 0px 15px 33px;

        border: none;

        .icon > img {
          margin-top: 3px;
          margin-left: 3px;
          width: 18%
        }

        .description {
          padding: 6px 0 4px 7px;
          margin-bottom: 0;
          
          font-size: 14px; 
          line-height: 24px;
        }

        .link {
          margin-left: 8px;

          font-size: 12px;
        }
      }

      &:last-child {
        padding: 23px 10px 15px 17px;


        .icon {
          padding-bottom: 12px;
          padding-left: 44px;
        }

        .icon > img {
          margin-top: 3px;
          margin-left: 3px;
          width: 18%
        }

        .phone-number {
          margin: 7px 15px 46px 44px;
    
          font-size: 24px;
        }    

        .link {
          margin-left: 46px;
          
          font-size: 12px;
        }
      }
    }

    .text-contact {
      display: block;
      padding: 0 47px 1px;
      margin-bottom: 0;

      font-size: 14px;
      color: $white;
    }

    .footer-koein {
      display: block;
      padding: 43px 8px 34px;
   
      font-size: 13px;
      color: $white;
    }
  }
  .section-footer-bottom {
    display: none;
  }
}

@include respond-to (sm){
  .section-footer-top {
    width: 100%;
    height: auto;

    .footer-boxes {
      padding: 20px 0;
    }

    .box {
      &:first-child {
        padding: 29px 36px 9px 39px;

        .icon > img {
          width: 40px;
        }

        .description {
          padding: 23px 0 10px 7px;

          font-size: 14px;
        }

        .link {
          font-size: 12px;
        }
      }

      &:nth-child(2) {
        padding: 29px 36px 9px 39px;

        .icon > img {
          width: 40px;
        }

        .description {
          padding: 23px 0 10px 7px;

        font-size: 14px;
        }

        .link {
          font-size: 12px;
        } 
      }

      &:last-child {
        padding: 29px 36px 9px 39px;

        .icon {
          padding-left: 5px;
        }

        .icon > img {
          width: 30px;
        }

        .phone-number {
          margin: 27px 0px 20px;
    
          font-size: 24px;  
        }

        .link {
          padding: 0 0 4px 6px;
          margin-left: 0;
       
          font-size: 12px;
        }
      }
    }

    .text-contact {
      display: block;
      padding: 11px 0 2px;
      margin-bottom: 0;

      font-size: 14px;
      color: $white; 
    }

    .footer-koein {
      display: block;
      padding: 23px 27px 10px;

      font-size: 13px;
      color: $white;
    }
  }

  .section-footer-bottom {
    display: none;
  }
}

@include respond-to (xs){ 
  .section-footer-top {
    width: 100%;
    height: auto;

    .footer-boxes {
     padding: 0 10px 11px;
    }

    .box {
      &:first-child {
        padding: 20px 0 5px;

        .icon > img {
          padding-left: 5px;
          width: 48px;
        }

        .description {
          padding-top: 15px;
          padding-bottom: 2px;

          line-height: 24px;
        }

        .link {
          margin-left: 9px;

          font-size: 12px;
        }
      }

      &:nth-child(2) {
        padding: 20px 0 5px;
        border: none;

        .icon > img {
          padding-left: 5px;
          width: 48px;
        }

        .description {
          padding: 23px 8px 0 7px;

          line-height: 24px;
        }

        .link {
          margin-left: 9px;
          font-size: 12px;
        }
      }

      &:last-child {
        padding: 20px 0 5px;

        .icon {
          padding-top: 20px;
          padding-bottom: 0;
          padding-left: 8px;
          
        }

        .icon > img {
          width: 31px;
        }

        .phone-number {
          margin: 3px 8px 8px;
    
          font-size: 24px;
        }

        .link {
          margin-left: 9px;

          font-size: 12px; 
        }
      }
    }

    .text-contact {
      display: block;
      padding: 11px 8px 2px;
      margin-bottom: 0;

      font-size: 14px; 
      color: $white;
    }

    .footer-koein {
      display: block;
      margin: 36px 0 6px -13px;

      font-size: 13px;
      color: $white;
    }
  }

  .section-footer-bottom {
    display: none;
  }
}

@media only screen and (min-width:2000px) {
  .section-footer-top {
    .footer-boxes {
      padding: 0px 68px 0 62px;
    }

    .box {
      &:first-child,
      &:last-child {
        padding: 45px 59px 38px 59px;
      }

      &:nth-child(2) {
        padding: 40px 96px 38px 99px;
      }
    }

    .text-contact {
      display: block;
      margin-top: 16px;

      font-size: 15px;
      color: $white;
    }

    .phone-number {
      font-size: 35px;
      margin-bottom: 20px;
    }
  }

  .section-footer-bottom {
    .icon-items {
      padding: 14px 4px 14px 6px;
    }
  }
}

@media  (min-width:1200px) and (max-width: 1699px) {
  .section-footer-top {
    width: 100%;
    height: auto;

    .footer-boxes {
      padding: 0 16px 0 12px;
    }

    .box {
      &:first-child {
        padding: 34px 20px 50px 10px;
      }

      &:nth-child(2) {
        padding: 34px 10px 50px 17px;

        .description {
          padding: 7px 12px 13px 7px;
        }
      }

      &:last-child {
        padding: 34px 20px 50px 10px;

        .phone-number {
          margin: 27px 3px 54px 40px;
        }
      }
    }

    .phone-number {
      margin-bottom: 78px;

      font-size: 33px;
    }
  }
}