.section-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  padding: 31px 0;
  width: 100%;
  height: auto;
 
  background: transparent;
<<<<<<< HEAD
  border-bottom: 1px solid $light-grayish;
=======
>>>>>>> c9a6efb8 (update about-page)

  transition: all 0.4s;
  
  &.sticky {
    padding: 10px 0;

    background-color: $white;   
  }

  .navbar {
    padding: 0;
  }

  .brand-logo {
    position: relative;
    bottom: 9px;

    width: 100%;
  }

  .nav-item {
    margin-right: 11px;
  }
 
  .navbar-nav {
    padding-right: 10px;

    .nav-link {
      display: flex;
      justify-content: space-between;
      padding: 14px 13px;

      font-family: $font-opensans-semibold;
      font-size: 15px;
      color: $light-gray;
      text-decoration: none;
      list-style: none;
<<<<<<< HEAD
    }

    .nav-link:hover {
     color: $dark-blue;
     text-decoration:2px solid underline;
     text-underline-offset: 8px;
=======
>>>>>>> c9a6efb8 (update about-page)
    }

    .nav-link:hover {
     color: $dark-blue;
     text-decoration:2px solid underline;
     text-underline-offset: 8px;
    }
  }

  .btn-num {
    position: relative;
    left: 25px;

    padding: 0 10px;

    background-color: $yellowish;
    border-radius: 25px;

    cursor: pointer;

    .num-desc {
      color: $white;
    }

    .nav-link:hover {
      text-decoration: none;
    }
  }

  .btn-lang {
    position: relative;
    left: 18px;
    padding: 10px 7px 0;
    
    background-color: $dark-blue;
    border-radius: 25px;

    cursor: pointer;

    .lang-select {
      margin-top: -4px;
      margin-right: 21px;
      height: auto;
    
      font-size: 14px;
      color: $white;
      
      background-color: $dark-blue;
      border-radius: 25px;
      border: none;

      appearance: none;
    }

    .arrow-select {
      position: absolute;
      bottom: 21px;
      left: 48px;
    }
  }

<<<<<<< HEAD
    .nav-link:hover {
      text-decoration: none;
    }
  }

  .btn-lang {
    position: relative;
    left: 18px;
    padding: 10px 7px 0;

@media only screen and  (min-width:2000px) {
  .section-header {
    padding: 31px 0;

    &.sticky {
      padding: 10px 0;
      background-color: $white;   
    }

    .navbar {
     padding: 0;
    }

    .brand-logo {
      left: 13px;
    }
=======
  .link-num {
    color: $white;
    text-decoration: none;  
  }

  .link {
    color: $white;
    text-decoration: none; 
>>>>>>> c9a6efb8 (update about-page)
  }

  .link-num {
    color: $white;
    text-decoration: none;  
  }

  .link {
    color: $white;
    text-decoration: none; 
  }
}

@include respond-to (lg) { 
  .section-header {
    padding: 27px 10px;
    width: 100%;
    height: auto;

    &.sticky {
      padding: 12px 10px;
    }

    .navbar {
      padding: 0;
    }

    .navbar-brand {
      margin: 0;

      .brand-logo {
        width: 75%;
      }
    }

    .navbar-nav {
      .nav-item {
        margin-right: 3px;
      }

      .nav-link {
        padding: 14px 5px;
        font-size: 13px;
      }
    }

    .btn-num {
      left: 8px;

      padding: 6px 11px 8px;
  
      .nav-link {
        display: unset;
        padding: 0;
      }

      .icon-holder {
        position: relative;
        bottom: 1px;
        left: 3px;
      }
    }

    .btn-lang {
      left: 8px;

      .lang-select {
        margin-top: -8px;
        margin-right: 13px;
      }

      .arrow-select {
        bottom: 20px;
        left: 68%;
      }
    }

    // .btn-lang {
    //   left: 8px;

    //   .lang-select {
    //     // margin-top: -8px;
    //     // margin-right: 13px;
    //   }

    //   .arrow-select {
    //     bottom: 20px;
    //     left: 68%;
    //   }
    // }
  }
}

@include respond-to (md){
  .section-header {
    padding: 17px 0;
    width: 100%;
    height: auto;

    border-bottom: none;
   
    &.sticky {
      padding: 8px 0;
    }

    .navbar {
      padding: 0;
      height: 44px;
    }

    .collapse {
      position: fixed;
      top: 63px;
      right: -100%;
      bottom: 0;
      z-index: 2000;

      display: block;
      padding: 0 12px;
      width: 0;
      height: 100% !important;

      background-color: $white;

      transition: all .3s ease;
    }

    .collapsing {
      position: fixed;
      top: 63px;
      bottom: 0;
      right: -100%;

      display: block;
      width: 100%; 
      height: 100% !important;
     
      transition: all .3s ease-in;
    }
    
    .collapse.show {
      right: 0;

      width: 100%;
    }
    
    .navbar-toggler {
      .icon-bar {
        position: relative;
        bottom: 19px;
        right: 17px;
        
        display: block;
        margin-bottom: 6px;
        width: 25px;
        height: 2px;

        background: $blue;
        box-shadow: none; 

        transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
      }
    }
 
    .navbar-toggler[aria-expanded=true] .icon-bar:first-child {
      transform: rotate(225deg) translate(-6px, -5px);
    }

    .brand-logo {
<<<<<<< HEAD
      bottom: 31px;
      left: 14px;
      width: 59%;
=======
>>>>>>> c9a6efb8 (update about-page)
      bottom: 31px;
      left: 14px;

      width: 59%; 
    }

    .navbar-nav {
      .nav-link {
        padding: 11px 13px;
        margin-bottom: 10px;

        font-family: $font-opensans-semibold;
        font-size: 13px;
      }
    }
  
   .btn-num,
   .btn-lang {
     display: none;
   }

   #excluded-btn {
     .nav-link {
      display: block;
      padding: 11px 19px 3px; 
     }

     .btn-num {
      left: 41px;

      display: block;
      padding: 0;

      .num-desc {
        font-size: 13px;
      }
     }

     .btn-lang {
       bottom: 43px;
       left: 95%;

       display: block;
       padding: 11px 3px 3px;

       .lang-select {
        margin-top: -9px;
       }

       .arrow-select {
        bottom: 18px;
        left: 46px;
       }
     }
   }

    .unstyled-social-items {
      position: absolute;
      right: 0;
      bottom: 63px;
  
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      margin: 0;
      width: 100%;
      
      list-style: none;

      background-color: $white;
      border-top: 1px solid $light-grayish;
      border-bottom: 1px solid $light-grayish;
    }
  }

  .lock-scroll {
    overflow: hidden;
  }
}

@include respond-to (sm){
  .section-header {
    padding: 18px 15px;
    width: 100%;
    height: auto;
    
    border-bottom: none;
   
    &.sticky {
      padding: 10px 15px;
    }

    .navbar {
      padding: 0;
    }

    .brand-logo {
      right: 15px;
      bottom: 8px;

      width: 68%;
    }
      
    .collapse {
      position: fixed;
      top: 63px;
      bottom: 0;
      right: -100%;
      z-index: 2000;

      display: block;
      padding: 0 12px;
      margin: 0;
      width: 0;
      height: 100% !important;

      background-color: $white;

      transition: all .3s ease;
    }

    .collapsing {
      position: fixed;
      top: 63px;
      bottom: 0;
      right: -100%;

      display: block;
      width: 100%; 
      height: 100% !important;
     
      transition: all .3s ease-in;
    }
    
    .collapse.show {
      right: 0;

      width: 100%;
    }

    .icon-bar {
      position: relative;
      bottom: 4px;
      left: 11px;

      display: block;
      margin-bottom: 6px;
      width: 25px;
      height: 2px;
    
      background: $blue;
      box-shadow: none; 

      transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
 
    .navbar-toggler[aria-expanded=true] .icon-bar:first-child {
      transform: rotate(225deg) translate(-6px, -5px);
    }

    #excluded-btn {
      .btn-lang,
      .btn-num {
          display: none;
      }
    }

    .navbar-nav {
      .nav-link {
        padding: 11px 13px;
        margin-bottom: 10px;

        font-family: $font-opensans-semibold;
        font-size: 13px;  
      }
    }

    .navbar-nav {
      padding: 0;
      margin-bottom: 8px;
    }

    .btn-num {
      left: 8px;

      padding: 7px 68px 8px;
      margin-right: 52%;
      margin-bottom: 20px;
    
      .nav-link {
        display: unset;
        padding: 0;
      }
    }

    .btn-lang {
      bottom: 64px;
      left: 51%;

      padding-top: 7px;
      padding-bottom: 3px;
      margin-right: 52%;

      .arrow-select {
        bottom: 18px;
        left: 78%;
      }
    }

    .unstyled-social-items {
      position: absolute;
      bottom: 63px;
      right: 0;

      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      margin: 0;
      width: 100%;

      background-color: $white;
      list-style: none;

      border-top: 1px solid $light-grayish;
      border-bottom: 1px solid $light-grayish;
    }
  }

  .lock-scroll {
    overflow: hidden;
  }
}

@include respond-to (xs){
  .section-header {
    padding: 18px 0;
    width: 100%;
    height: auto;

    border-bottom: none;
    
    &.sticky {
      padding: 6px 0;
    }

    .navbar-brand {
      margin: 0;
    }

    .navbar {
     padding-left: 6px ;
    }

    .collapse {
      position: fixed;
      top: 63px;
      bottom: 0;
      right: -100%;
      z-index: 2000;

      display: block;
      padding: 0 12px;
      width: 0;
      height: 100% !important;

      background-color: $white;
      
      transition: all .3s ease;
    }

    .collapsing {
      position: fixed;
      top: 63px;
      bottom: 0;
      right: -100%; 

      display: block;
      width: 100%; 
      height: 100% !important;
    
      transition: all .3s ease-in;
    }
    
    .collapse.show {
      right: 0;

      width: 100%;
    }
      
    .icon-bar {
      position: relative;
      left: 5px;
      top: 6px;

      display: block;
      margin-bottom: 6px;
      width: 25px;
      height: 2px;
     
      background: $blue;
      box-shadow: none; 
      
      transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
 
    .navbar-toggler[aria-expanded=true] .icon-bar:first-child {
      transform: rotate(225deg) translate(-6px, -5px);
    }

    .brand-logo {
      z-index: 20;

<<<<<<< HEAD
      margin-top: 5px;
      margin-left: -10px;
      width: 63%;
=======
>>>>>>> c9a6efb8 (update about-page)
      margin-top: 5px;
      margin-left: -10px;
      width: 63%;
    }
    
    .navbar-nav {
      .nav-link {
        padding: 11px 13px;
        margin-bottom: 10px;
        
        font-family: $font-opensans-semibold;
        font-size: 13px;  
      }
    }
    
    #excluded-btn {
      .btn-lang,
      .btn-num {
        display: none;
      }
    }

    .btn-num {
      left: 8px;

      padding-top: 5px;
      margin-bottom: 20px;
      height: 44px;

      text-align: center;
      
      .nav-link {
        display: unset;
        padding: 0; 
      }
    }

    .btn-lang {
      left: 8px;

      padding-top: 7px;
      padding-bottom: 3px;

      .arrow-select {
        bottom: 18px;
        left: 88%;
      }
    }

    .link {
      margin-right: 67px;
    }

    .unstyled-social-items {
      position: absolute;
      bottom: 63px;
      right: 0;

      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      margin: 0;
      width: 100%;

      background-color: $white;
      border-top: 1px solid $light-grayish;
      border-bottom: 1px solid $light-grayish;
      list-style: none;
    }
  }

 .lock-scroll {
    overflow: hidden;
  }
}

@media only screen and  (min-width:2000px) {
  .section-header {
    padding: 31px 0;

    &.sticky {
      padding: 10px 0;

      background-color: $white;   
    }

    .navbar {
     padding: 0;
    }

    .brand-logo {
      left: 13px;
    }
  }
}

@media (max-width: 1699px) and  (min-width: 1200px) {
  .section-header {
    padding: 27px 10px;
    width: 100%;
    height: auto;
  
    &.sticky {
      padding: 12px 10px;
    }

    .navbar {
      padding: 0;
    }

    .navbar-brand {
      margin: 0;

      .brand-logo {
        width: 75%;
      }
    }

    .navbar-nav {
      .nav-item {
        margin-right: 12px;
      }

      .nav-link {
        padding: 14px 5px;

        font-size: 13px;
      }
    }

    .btn-num {
      left: 8px;

      padding: 6px 11px 8px;
  
      .nav-link { 
        display: unset;
        padding: 0;
      }

      .icon-holder {
        position: relative;
        bottom: 1px;
        left: 3px;
      }
    }

    .btn-lang {
      left: 8px;

      .lang-select {
        margin-top: -8px;
        margin-right: 13px;  
      }

      .arrow-select {
        bottom: 20px;
        left: 68%;
      }
    }
  }

  .lock-scroll {
    overflow: hidden;
  }
}

@media (max-width: 399px) and  (min-width: 321px) {
  .section-header {
    .unstyled-social-items {
      position: absolute;
      bottom: 63px;
      right: 0;

      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      margin: 0;
      width: 100%;
      
      border-top: 1px solid $light-grayish;
      border-bottom: 1px solid $light-grayish;
      list-style: none;
    }
  }

  .lock-scroll {
    overflow: hidden;
  }

}
<<<<<<< HEAD
}
=======

>>>>>>> c9a6efb8 (update about-page)
