//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {

  .side-floating {
    position: fixed;
    top: 31.2%;
    right: 1px;
    z-index: 2;

    width: 57px;
    height: 258px;

    text-align: center;

    background-color: $gray;

    &-item {
      padding: 10px 0 10px;

      box-shadow: 0 0 25px 5px rgba(0, 0, 0, .4);
    }
   
    &-icon {
      display: block;
      padding: 8px 8px 14px 8px;

      text-decoration: none;
      list-style: none;
       
      cursor: pointer;
    }

    .list-divider {
      border-top: 1px solid gray;
    }
  }
  
  .section-banner {
    padding-bottom:78px;
    width: 100%;
    height: auto;

    background-image: url('../assets/images/3.fw.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .banner-content {
      position: relative;
      top: 327px;

      margin-bottom: 21.9%;
    }

    .banner-title {
      font-family: $font-opensans-semibold;
      color: $white;
      font-size: 62px;   
    }

    .swiper-pagination-bullet {
      position: relative;
      top: 7px;
      left: 4px;

      margin:0 4px;
    }

    .swiper-pagination-bullet-active {
      background: $white;
      
      opacity: 1;
    }

    .banner-icons {
      padding-top: 52px;
    }

    .icon {
      &:first-child {
        margin-right: 59px;
      }

      &:nth-child(2) {
        margin-right: 10px;
      }

      &:last-child {
       margin-left: 2px;
      }
    }   
  
   .icon-desc {
      display: flex;
      flex-direction: row;
      padding: 10px 0 97px;

      font-size: 16px;
      color: $white;
      text-decoration: none;
     
     }

   .description {
      &:first-child {
        margin-right: 41px;
        width: 4%;
      
        font-size: 16px;
        text-align: center;   
      }

      &:nth-child(2) {
        margin-right: 10px;

        text-align: center;
      }

      &:last-child {
        margin-left: 27px;
        width: 5%;
       
        text-align: center;
      }
    }

   .desc {
     display: none;
    } 
  }

  .section-mission {
    margin-bottom: 82px;
    width: 100%;
    height: auto;

    background-color: $white;
    
    .content-mission {
      padding-top: 70px;
      padding-bottom: 85px;
    }

    .img-fluid {
      position: absolute;
      bottom: 25%;
      left: 0;
    }
   
    .content {
      position: relative;
      left: 32%;
  
      padding: 0 90px;
    }

    .heading {
      padding-bottom: 25px;
    
      font-family: $font-opensans-bold;
      font-size: 40px;
    }

    .unstyled-items {
      padding-left: 10px;
    }

    .item {
      padding: 2px 0;

      font-size: 19px;
      text-decoration: none;
      list-style: none;    
    }

   .item-desc {
     display: inline-block;
     padding-left: 8px;
   }

   .button-wrapper {
      margin-top: 65px;
    }

   .btn-assist {
    position: relative;
    top: 2px;
    right: 1px;

    padding: 18px 27px;
    margin-top: 34px; 
    width: 100%;
    max-width: 200px;
    
    font-family: $font-opensans-semibold;
    font-size: 15px;
    color: $white;
    text-align: center;
    text-decoration: none;

    background-image: linear-gradient(to right,$very-light-blue,$blue);
    border: none;
    border-radius: 32px;
    outline: none;

    cursor: pointer;
    transition: color .2s ease-in-out;
    }

    .btn-assist:hover {
      color: $blue;
      background: $white;
      border: 0.5px solid $very-dark-blue;
    }
    
    .btn-history { 
      position: relative;
      top: 3px;
      right: -3px;

      padding: 18px 58px;
      margin-top: 33px;
      width: 100%;
      max-width: 200px;
    
      font-family: $font-opensans-semibold;
      font-size: 15px;
      color: $light-gray;
      text-align: center;
      text-decoration: none;
      
      background: $pale-orange;
      border-radius: 32px;
      border: none;
      outline: none;

      cursor: pointer;
      transition: color .2s ease-in-out;
    }

    .btn-history:hover {
      background: $light-orange;
    }

    .box-content {
      margin-top: -42.5%;
      margin-left: 56%;
      max-width: 100%;
    }

    .box-solutions{
      position: absolute;
      top: 22%;
      right: 13%;
      z-index: 1;
    }

    .box-title {
      margin-bottom: 32px;
      padding-top: 8px;

      font-family: $font-opensans-bold;
      font-size: 40px;
      color: $white;
    }

    .content-solution {
      margin-top: 10px;

      text-align: left;
    }

    .box-desc {
      display: inline-block;
      padding: 0 10px 0 24px;
    }

    .icon{
      &:first-child {
        margin-top: -33px;
        margin-left: 6px;
      }

      &:nth-child(2) {
        margin-top: -26px;
        margin-left: 5px;
      }

      &:nth-child(3) {
        margin-left: 4px;
        margin-top: -26px;
      }

      &:last-child {
        margin-top: -31px;
        margin-left: 8px;
      }
    }

    .title-solution {
      margin-bottom: 6px;

      font-family: $font-opensans-semibold;
      font-size: 19px;
      color: $white;
    }

    .desc-solution {
      margin-bottom: 19px;

      font-size:17px;
      color: $white;

      opacity: 0.8;
    }
  }

  .section-reading {
    margin-bottom: 205px;
    width: 100%;
    height: auto;
   
    background-color: $white;
   
    .healthy-content {
      margin-bottom: 24px;
    }

    .heading {
      padding-top: 10px;
     
      font-family: $font-opensans-bold;
      font-size: 40px;
    }

    .subheading {
      font-family: $font-opensans-bold;
      font-size: 18px;
    }

    .btn-filter {
      position: relative;
      bottom: 58px;
      right: 3px;

      display: flex;
      justify-content: space-around;
      float: right;
      padding: 16px 1px;
      width: 14%;

      font-size: 15px;
      font-weight: 500;
      color: $mostly-black;
      text-align: center;
      
      background-color: $gray;
      border: none;
      border-radius: 32px;
      outline: 0;

      cursor: pointer;
      transition: color .2s ease-in-out;
  
      .dropdown-filter {
        font-family: $font-opensans-regular;
        font-weight: lighter;
        margin-left: 61px;
        font-size: 26px;
      }
    }

    .dropdown-menu {
      background-color: $gray;
      border: none;
    }

    .dropdown-item {
      padding: 10px 15px;

      font-size: 15px;
      color: $mostly-black;
    }

    .swiper-container {
      bottom: 40px;

      width: 100%;
      height: auto;   
    }
    
    .swiper-slide {
      &:first-child {
        width: 49.7%;
        height: 519px;

        background-image: url('../assets/images/16.5.fw.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &:nth-child(2) {
        width: 24.9%;
        height: 515px;

        background-image: url('../assets/images/17.5.fw.png');
        background-repeat: no-repeat;
        background-size: cover; 
      }

      &:nth-child(3) {
        width: 25.7%;
        height: 515px;

        background-image: url('../assets/images/18.5.fw.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &:last-child {
        width: 25%;
        height: 515px;

        background-image: url('../assets/images/19.5.fw.png');
        background-repeat: no-repeat;
        background-size: cover;
      } 
    }

    .reading-content {
      position: absolute;
      top: 67%;

      display: block;
      padding: 9px 10px 10px 34px; 
      
      text-decoration: none;
    }

    .title-news {
      padding: 0 25% 5px 3px;
   
      font-family: $font-opensans-bold;
      font-size: 29px;
      color: $white;   
    }

    .date {
      margin: 14px 0px 24px;

      font-family: $font-opensans-bold;
      color: $white;
      font-size: 14px;
    }

    .category-news {
      padding: 3px 12px;
      margin: 0 4px;

      font-family: $font-opensans-semibold;
      font-size: 15px;
      color: $white;
      
      background-color: $yellowish; 
    }

    .title-health {
      padding: 3px 2px 4px 0;

      font-family: $font-opensans-bold;
      font-size: 29px;
      color: $white;
    }

    .category-health {
      padding: 3px 11px;
      margin: 0 2px;

      font-family: $font-opensans-semibold;
      font-size: 15px;
      color: $white;
    
      background-color: $light-green;
    }

    .title-success {
      padding: 3px 28px 4px 3px;

      font-family: $font-opensans-bold;
      font-size: 29px;
      color: $white;
    }

    .category-success {
      padding: 3px 4px;
      margin: 0 4px;
      font-family: $font-opensans-semibold;
      font-size: 15px;
      color: $white;
    
      background-color: $very-light-blue;
    }

    .title-case {
      padding: 3px 86px 4px 3px;

      font-family: $font-opensans-bold;
      font-size: 29px;
      color: $white; 
    }

    .category-case {
      padding: 3px 6px;
      margin: 0 1px;
      font-family: $font-opensans-semibold;
      font-size: 15px;
      color: $white;
    
      background-color: $brown;
    }

    .btn-journal {
      position: relative;
      right: 3px;
      top: 39px;

      padding: 18px 61px;
      margin: 25px 2px 0;

      font-size: 16px;
      text-align: center;
      color: $white;
      text-decoration: none;

      background-image: linear-gradient(to right,$very-light-blue,$blue);
      border: none;
      border-radius: 32px;
      outline: none;

      cursor: pointer; 
      transition: color .2s ease-in-out;
    }

    .btn-journal:hover {
      color: $blue;
      background: $white;
      border: 0.5px solid $very-dark-blue;
    }
  }

  .section-information-system {
    width: 100%;
    height: auto;
    margin-bottom: 10.6%;

    background-color: $very-light-gray;

    .img-top-info {
      position: relative;
      bottom: 61px;
      right: 26px;
    }

    .img-fluid {
      margin-top: 22px;
      margin-left: 20px;
    }

    .content-info {
      position: static;

      padding-top: 12px;
      margin-bottom: -4.7%;
    }

    .title {
      padding-left: 22px;

      font-family: $font-opensans-bold;
      font-size: 40px;
    }

    .text-blue {
      position: relative;
      bottom: 3px;

      font-size: 43px;
      color: $very-dark-blue;
      font-weight: 700;
    }

    .content {
      padding: 10px;
    }

    .description {
      padding: 19px 39px 28px 13px;

      font-size: 17px;
      line-height: 28px;

      opacity: .8;
    }
    
    .unstyled-info {
      padding-left: 2px;
    }

    .item-list {
      padding: 8px;

      text-decoration: none;
      list-style: none;
    }

    .icon-list {
      padding-right: 8px;
      width: 39px;  
    }

    .item-desc {
      display: inline;
      padding: 0 2px;

      font-family: $font-opensans-semibold;
      font-size: 19px;
    }

    .btn-solution {
      position: relative;
      left: 25px;
      top: 27px;

      padding: 18px 56px;
      margin: 14px 2px;

      font-size: 15px;
      text-align: center;
      color: $white;
      text-decoration: none;
      
      background-image: linear-gradient(to right,$very-light-blue,$blue);
      border: none;
      border-radius: 32px;
      outline: none;

      cursor: pointer;
      transition: color .2s ease-in-out;
    }

    .btn-solution:hover {
      color: $blue;
      background: $white;
      border: 0.5px solid $very-dark-blue;
    }

    .img-fluid-bottom {
      position: relative;
      top: 75px;
      left: 96px;
      float: right;
    }
  }

  .section-app {
    padding-top: 40px;
    width: 100%;
    height: auto;

    background-image: url('../assets/images/26.fw.png');
    background-repeat: no-repeat;
    background-size: cover;
   
    .box-assistance-app {
      padding-top: 108px;
    }

    .heading {
      margin-bottom: 15px;

      font-family: $font-opensans-bold;
      font-size: 40px;
      color: $white;
    }

    .subheading {
      margin-bottom: 15px;

      font-family: $font-opensans-regular;
      font-size: 17px;
      color: $white;
    }

    .img-box-app {
      padding: 22px 0;
    }

    .img-app {
      &:first-child {
        margin: 2px 0 0 8px;

        cursor: pointer;
      }

      &:last-child {
        margin: 2px 11px 0 3px;

        cursor: pointer;
      }
    }

    .img-fluid {
      margin-top: -160px;
      margin-left: 32px;
    }
  }
}

@include respond-to (lg){
  .home {
    .side-floating {
      top: 24%;
      right: 0; 
    }

    .section-banner {
      width: 100%;
      height: auto;

      background-position: 59%;

      .banner-content {
        top: 88px;

        margin: 0;
      }

      .swiper-container {
        padding: 0;
      }

      .banner-title {
        position: relative;
        top: 200px;
            
        padding: 10px 0 30px;

        font-size: 56px;
      }

      .swiper-pagination-bullet {
        top: 175px;
      }

      .banner-icons {
        margin-top: 14%;
      }

      .description {
        &:first-child {
          margin-right: 56px;
          width: 5%;
        }

        &:nth-child(2) {
          margin-right: 19px;
        }
      }
    }

    .section-mission {
      padding-bottom: 0;
      width: 100%;
      height: auto;

      .content-mission {
        padding: 53px 15px;
      }

      .img-fluid {
        left: 3%;

        width: 40%;
      }

      .content {
        left: 215px;

        padding: 5px 15px;

        .heading {
          padding: 5px;

          font-size: 40px;
        }

        .item {
          font-size: 18px;
        }

        .btn-assist {
          padding: 18px 15px;
          margin: 0;

          font-size: 13px;
        }

        .btn-history {
          padding: 18px 42px;
          margin: 0;

          font-size: 13px;
        }
      }

      .content-solution {
        margin: 0;
      }

      .box-content {
        padding: 0;
        margin-top: -60%;
        margin-left: 58.3%;

        .box-img {
          width: 100%;
          height: 719px;
        }

        .box-solutions {
          top: 79px;
          right: 62px;
          left: 62px;
        }

        .box-title {
          margin-bottom: 49px;

          font-size: 40px;
          text-align: left;
        }

        .box-desc {
          position: relative;
          top: -65px;
          left: 51px;

          padding: 0 33px 0px 10px; 
        }

        .title-solution {
          font-size: 18px;
        }

        .desc-solution {
          font-size: 19px;
        }

        .icon-members {
          padding-right: 2px;
          margin-top: 0px;
        }
      }

      .button-wrapper {
        margin-top: 38px;
      }
    }

    .section-reading {
      padding-bottom: 20px;
      margin-bottom: 105px;
      width: 100%;
      height: auto;
      
      .heading {
        padding-top: 25px;
      }

      .btn-filter {
        bottom: 78px;

        padding: 17px 6px;
        width: 17%;
      }

      .swiper-slide {
        &:first-child {
          width: 53.7%;
          height: 523px;

          background-image: url('../assets/images/16.5.fw.png');
          background-position: center;
          background-size: cover;
        }

        &:nth-child(2) {
          width: 37.9%;
          height: 519px;

          background-image: url('../assets/images/17.5.fw.png');
          background-position: center;
          background-size: cover;
        }

        &:nth-child(3) {
          width: 37.9%;
          height: 520px;

          background-image: url('../assets/images/18.5.fw.png');
          background-position: center;
          background-size: cover;
        }

        &:last-child {
          width: 37.9%;
          height: 519px;

          background-image: url('../assets/images/19.5.fw.png');
          background-position: center;
          background-size: cover;
        }
      }

      .reading-content {
        top: 67.2%;
      }

      .title-health,
      .title-success,
      .title-case {
        padding-top: 4px;
      }

      .date {
        margin: 14px 0 24px;
      }

      .btn-journal {
        top: 16px;

        margin-bottom: 20px;
      }
    }

    .section-information-system {
      margin-bottom: 17%;
      width: 100%;
      height: auto;
     
      .img-fluid img{
        width: 100%;
      }

      .img-top-info {
        right: 0;
      }

      .description {
        padding: 5px 34px 8px 13px;
      }

      .unstyled-info {
        padding: 0;
      }

      .item-list {
        &:first-child {
          padding: 14px;
        }

        &:nth-child(2){
          padding: 14px;

          .icon-list {
            bottom: -3px;
          }
        }

        &:last-child {
          padding: 14px;
        }
      }

      .item-desc {
        display: flex;
        margin: -38px 15px 0 42px;

        font-family: $font-opensans-semibold;
        font-size: 18px;
      }

      .icon-list {
        position: relative;
        bottom: 7px;

        padding: 0;
        width: 31px;
      }

      .btn-solution {
        left: 2px;

        margin: 10px 5px;
      }

      .img-fluid-bottom {
        left: 4px;
      }
    }

    .section-app {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      .box-assistance-app {
        padding: 27px 20px;
      }
    
      .img-fluid {
        margin-top: -38%;
        margin-left: 1%;
        width: 100%;
      }  
    }
  }
}

@include respond-to (md){
  .home {
    .side-floating {
      top: 216px;
      right: 0;
    }

    .section-banner {
      padding: 0;
      width: 100%;
      height: auto;

      background-position: 48%;

      .swiper-container {
        padding: 0;
      } 

      .banner-content {
        top: 308px;

        margin-top: 0;
      }
        
      .banner-title {
        padding-top: 0;
        padding-left: 17px;  

        font-size: 25px;
      }

      .banner-icons {
        padding-top: 11px;
        padding-left: 19px;
      }

      .icon-desc {
        padding: 10px 29px 89px;
      }

      .icon {
        &:first-child {
          padding: 0;
          margin-right: 47px;
         
        }

        &:nth-child(2) {
          padding: 0;
          margin-right: 47px;
        
        } 
      }

      .description {
        &:first-child {
          margin-right:50px;
          margin-bottom: 14%;
          width: 6%;
          
          font-size: 13px;
        }

        &:nth-child(2) {
          margin-right: 27px;

          font-size: 13px; 
        }

        &:last-child {
          margin-right: 27px;
          width: 7%;
        
          font-size: 13px;
        }
      }

      .desc {
        top: 76px;

        display: block;
        padding-top: 9px;
        padding-left: 14px;
        margin: 0;

        font-family: $font-opensans-regular;
        font-size: 16px;
        color: $white;
        word-spacing: 3px;
      }

      .swiper-pagination-bullet {
        top: -13px;
        left: 15px;

        margin: 0 3px;
        width: 5px;
        height: 5px;
      }
    }

    .section-mission {
      padding-bottom: 43px;
      margin: 0;
      width: 100%;
      height: auto;

      .img-fluid {
        top: 45px;
        left: 24px;

        width: 56%;
      }

      .content-mission {
        padding-bottom: 0;
      }

      .content {
        position: relative;
        bottom: 30px;
        left: 69%;

        padding: 0;
      }
          
      .heading {
        padding-bottom: 17px;

        font-size: 30px;
      }

      .unstyled-items {
        padding-left: 2px;
      }

      .item {
        font-size: 18px;
      }

      .button-wrapper {
        margin-top: 34px;
      }

      .btn-assist {
        top: 0;
        right: 8px;
        bottom: 33px;

        margin-top: 3px;
      }

      .btn-history {
        top: 0;
        right: 6px;
        bottom: 33px;

        margin-top: 3px;
      }

      .item-desc {
        padding-left: 11px;
      }

      .box-content {
        padding: 0;
        margin-top: 58.1%;
        margin-left: -59%;
        max-width: 100%; 
      }

      .box-img {
        width: 241.7%;
        height: 553px;
      }

      .box-solutions {
        top: 85px;
        right: -79%;
        left: 32%;
      }

      .box-title {
        font-family: $font-opensans-semibold;
        font-size: 31px;
        text-align: left;
      }

      .box-desc {
        padding: 0 10px 0 17px;
      }

      .icon {
        &:first-child {
          position: relative;
          right: 8px;
          bottom: 3px;

          margin-top: -31px;
          margin-left: 9px;
        }

        &:nth-child(2) {
          position: relative;
          bottom: 3px;
          right: 7px;
        }

        &:nth-child(3) {
          position: relative;
          right: 8px;
          bottom: 2px;
        }

        &:last-child {
          position: relative;
          right: 6px;
          bottom: 3px;
        }
      }
    }

    .section-reading {
      padding-bottom: 0;
      margin-bottom: 85px;
      width: 100%;
      height: auto;

      .healthy-content {
        padding: 0;
        margin-bottom: 19px;
      }

      .heading {
        padding-top: 2px;
        padding-left: 23px;

        font-size: 30px;
      }

      .subheading {
        padding-bottom: 40px;
        padding-left: 23px;
        margin-top: -5px; 
      }

      .btn-filter {
        display: none;
      }

      .swiper-wrapper {
        margin-left: 21px;
        height: 370px;
      }

      .swiper-slide {
        &:first-child {
          background-image: url('../assets/images/16.5.fw.png');
          background-size: contain;
          width: 523px;
          height: auto;
        }

        &:nth-child(2) {
          background-image: url('../assets/images/17.5.fw.png');
          background-size: contain;
          width: 260px;
          height: auto;
        }

        &:nth-child(3)  {
          background-image: url('../assets/images/18.5.fw.png');
          background-size: contain;
          width: 261px;
          height: auto;
        }

        &:last-child  {
          background-image: url('../assets/images/19.5.fw.png');
          background-size: contain;
          width: 260.4px;
          height: auto;
        }
      }

      .reading-content {
        top: 33%;
      }

      .date {
        margin: 14px 0 26px;
      }

      .title-news {
        padding: 70px 25% 5px 0px;
        font-size: 28px;
      }

      .category-news {
        margin: 0;
      }

      .title-health {
        padding-top: 47px;

        font-size: 25px;
       }

      .title-success {
        padding-top: 76px;

        font-size: 25px;
      }

      .category-success {
        padding: 4px 4px;
        margin: 0 -3px;
      }

      .title-case {
        padding-top: 76px;
        padding-right: 0;
        padding-left: 3px;

        font-size: 25px;
      }

      .category-case {
        padding: 4px 6px;
      }

      .btn-journal {
        left: 15px;
        top: -16px;

        padding: 13px 44px;
        margin-bottom: 47px;

        font-size: 12px;
      }
    }

    .section-information-system {
      margin-bottom: 0;
      width: 100%;
      height: auto;

      background-image: none;
      background-color: $very-light-gray;


      .img-top-info {
        position: relative;
        top: -38px;
        left: 34px;

        display: block;
        margin-top: 0;
        width: 100px;
      }

      .img-fluid img {
        margin-top: 8px;
        margin-left: 11px;
        width: 125%;
      }

      .img-fluid {
        margin-top: 0;
      }

      .content-info {
        display: contents;
      }

      .title {
        padding-left: 47px;
        padding-top: 23px;
        margin-right: 23%;
        font-size: 30px;
      }

      .text-blue {
        top: 2px;
        right: 4px;

        padding-left: 3px;

        font-size: 30px;
      }

      .content {
        padding: 2px 33px;
      }

      .description {
        padding: 6px 30px 11px 12px;

        font-size: 17px;
        line-height: 28px;
      }

      .item-desc {
        padding: 0 4px;

        font-size: 19px;
        font-family: $font-opensans-semibold;
      }

      .item-list {
        padding: 8px 5px;
      }

      .btn-solution {
        top: 7px;
        left: 39px;
       
        padding: 13px 38px;
        margin: 4px 0 60px;

        font-size: 12px;
      }

      .img-fluid-bottom {
        display: none;
      }

      .icon-list {
        position: relative;
        bottom: 2px;
        left: 2px;
      }
    }

    .section-app {
      padding: 34px 13px 0;

      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      .box-assistance-app {
        padding-top: 0;
        padding-left: 6px;
      }

      .heading {
        margin-bottom: 1px;

        font-size: 25px;
      }
    
      .subheading {
        margin: 2px 116px 14px 5px;

        font-size: 14px;
        line-height: 1.7;
      }
    
      .img-box-app {
        padding: 7px 0 30px;
      }

      .img-app {
        &:first-child {
          margin: 3px 8px 0 5px;
          width: 32%;
        }

        &:last-child {
          width: 32%;
        }
      }
        
      .img-fluid {
        position: absolute;
        right: 37px;
        bottom: -1%;

        width: 97%;
        height: auto;
      }
    }
  }
}

@include respond-to (sm){
  .home {
    .side-floating {
      display: none;
    }

    .section-banner {
      padding-bottom: 16px;
      width: 100%;
      height: auto;

      background-position: center;

      .banner-content {
        top: 103px;

        margin-bottom: 3.9%;
      }

      .banner-title {
        padding-top: 199px;

        font-size: 26px;
      }

      .banner-icons {
        padding-top: 37px
      }

      .desc {
        display: block;
        margin-top: 21px;
       
        font-size: 15px;
        color: $white;
      }

      .swiper-container {
        padding-bottom: 0;
      }

      .icon-desc {
        margin: 0 14px;
      }

      .icon {
        &:first-child {
          width: 12%;
        }

        &:nth-child(2) {
          width: 12%;
        }

        &:last-child {
          width: 12%;
        }
      }

      .description {
        &:first-child {
          margin-right: 60px;
          width: 9%;
         
          font-size: 13px;
        }

        &:nth-child(2) {
          margin-right: 35px;

          font-size: 13px;
        }

        &:last-child { 
          width: 8%;

          font-size: 13px;
        }
      }
    }

    .section-mission {
      padding: 0;
      margin-bottom: 40px;
      width: 100%;
      height: auto;
     
      .content-mission {
        padding: 32px 15px 12px;
      }

      .img-fluid {
        display: none;
      }

      .content {
        left: 2px;

        padding: 0 2px;
      }

      .heading {
        font-size: 20px;
      }

      .item {
        font-size: 14px;
      }

      .button-wrapper {
        margin-top: 4px;
        margin-bottom: 10px;
      }

      .btn-assist {
        bottom: 11px;

        padding: 12px;
        margin: 0;

        font-size: 12px;
       
       }

      .btn-history {
        bottom: 11px;

        padding: 12px 40px;
        margin: 0;

        font-size: 12px;
      }

      .box-content {
        padding: 0; 
        margin-top: 30px;
        margin-left: 0;
      }

      .box-img {
        width: 100%;
        height: 408px;
      }

      .box-solutions {
        top: 8%;
        right: 26%;
      }

      .box-title {
        font-size: 20px;
        text-align: left;
      }

      .title-solution {
        font-size: 14px;
      }

      .desc-solution {
        font-size: 14.5px;
      }

      .icon {
        width: 37px;
      }
    }

    .section-reading {
      padding: 0;
      margin-bottom: 40px;
      width: 100%;
      height: auto;

      .heading {
        padding-top: 0;

        font-size: 20px;
      }

      .subheading {
        padding-bottom: 48px;

        font-size: 12px;
      }

      .btn-filter {
        display: none;
      }

      .reading-content {
        top: 58.6%;

        padding: 9px 10px 10px 15px;
      }

      .title-news,
      .title-success {
        padding: 0;
        margin:17px 0 13px;

        font-size: 18px;
       }

      .title-health,
      .title-case {
        padding: 0;
        margin: -4px 0 13px;

        font-size: 18px;
       }

      .date {
        margin-bottom: 8px;

        font-size: 11px;  
      }
          
      .category-news,
      .category-health,
      .category-success,
      .category-case {
        margin: 0 -2px;

        font-size: 11px;
      }

      .swiper-slide {
        &:first-child {
          width: 99%;
          height: 267px;

          background-image: url('../assets/images/16.5.fw.png');
          background-position: center;
          background-size: cover;
        }

        &:nth-child(2) {
          width: 49%;
          height: 267px;

          background-image: url('../assets/images/17.5.fw.png');
          background-position: center;
          background-size: cover;
        }

        &:nth-child(3)  {
          width: 49.2%;
          height: 267px;

          background-image: url('../assets/images/18.5.fw.png');
          background-position: center;
          background-size: cover;
        }

        &:last-child  {
          width: 49.2%;
          height: 267px;

          background-image: url('../assets/images/19.5.fw.png');
          background-position: center;
          background-size: cover; 
        }
      }

      .btn-journal {
        top: 5px;

        padding: 12px 40px;

        font-size: 12px;
      }
    }

    .section-information-system {
      padding: 0;
      margin-bottom: 0;
      width: 100%;
      height: auto;

      background-color: $very-light-gray;
      background-image: none;

      .title {
        position: absolute;
        top: 5%;

        padding-left: 6px;

        font-size: 20px;
      }

      .img-top-info {
        position: relative;
        top: -42px;
        left: -5px;

        display: block;
        margin-top: 73px; 
        width: 89px;
      }
          
      .img-fluid img {
        position: relative;
        right: 0;

        width: 95%;
      }
        
      .text-blue {
        bottom: 0;

        font-size: 20px;
      }
          
      .content-info {
        position: static;

        padding-top: 0; 
      }

      .description {
        padding: 12px 15px;
        margin: 0;

        font-size: 15px;
        line-height: 30px;
      }

      .content {
        position: relative;

        margin-bottom: 3px;
      }
          
      .item-desc {
        font-family: $font-opensans-semibold;
        font-size: 18px;
      }

      .btn-solution {
        display: none;
      }

      .img-fluid-bottom{
        display: none;
      }
    }

    .section-app {
      border-right: 0.5px solid rgba(255, 255, 255, 0.3);
        
      .box-assistance-app {
        padding: 0 27px;
      }

      .heading {
        font-size: 25px;
      }

      .desc {
        font-size: 15px;
      }

      .img-fluid {
        display: none;
      }

      .img-box-app {
        padding: 22px 0;
      }

      .img-app {
        width: 133px;
      }
    }
  }
}

@include respond-to (xs){
  .home {
    .side-floating {
      display: none;
    }

    .section-banner {
      padding: 0;
      width: 100%;
      height: auto;
     
      .banner-content {
        top: 144px;

        padding-bottom: 11px;
        margin: 0;
      }

      .banner-title {
        padding-top: 78px;
        padding-left: 0;

        font-size: 25px;
      }
        
      .banner-icons {
        padding: 15px 3px 6px;
      }

      .icon {
        &:first-child {
          margin-right: 23px;
        }
      }
      
      .desc {
        display: block;
        padding-top: 9px;
        margin: 0;

        font-family: $font-opensans-regular;
        font-size: 15px;
        color: $white;
        word-spacing: 3px;
      }

      .swiper-pagination-bullet {
        left: 1px;
        top: -13px;

        width: 5px;
        margin: 0 3px;
        height: 5px;
      }

      .swiper-container {
        padding-bottom: 0;
      }

      .icon-desc {
        padding-top: 6px;
        padding-bottom: 46.5%;
        margin-left: 14px;
      }

      .description {
        &:first-child {
          margin-right: 49px;
          width: 8%;

          font-size: 13px;
          text-align: center;
        }

        &:nth-child(2) {
          font-size: 13px;
        }

        &:last-child {
          margin-left: 30px;
          margin-left: 16px;
          width: 14%;
         
          font-size: 13px;
        }
      }
    }

    .section-mission {
      padding: 0;
      margin-bottom: 1px;
      width: 100%;
      height: auto;
        
      .content-mission {
        padding: 35px 9px 55px 9px;
      }

      .img-fluid {
        display: none;
      }

      .heading {
        padding-bottom: 5px;

        font-size: 20px; 
      }

      .content {
        left: 1px;
        
        padding: 0;
      }

      .item {
        margin-left: -6px;
        font-size: 14px;
      }

      .icon-holder {
        margin-top: -3px;
        width: 22px;
      }

      .unstyled-items {
        padding-top: 8px;
        margin: 0;
      }

      .button-wrapper {
        margin-top: 4px;
        margin-bottom: 10px;
      }

      .btn-assist {
        top: 6px;
        right: 3px;
        
        padding: 13px 14px;
        margin-top: 0;
        margin-left: 5px;

        font-size: 12px;
      }

      .btn-history {
        top: 6px;
        right: 0;

        padding: 13px 38px;
        margin-top: 0;

        font-size: 12px;
      }

      .box-content{
        padding: 0;
        margin: 0;
      }

      .box-img {
        margin-top: -15px;
        width: 100%;
        height: 456px;
      }
          
      .box-solutions {
        top: 12px;
        right: 25px;
        left: 0;
      }

      .box-title {
        padding-left: 14px;
        padding-top: 9px;
        margin-bottom: 29px;

        font-size: 20px;
        text-align: left;
      }

      .content-solution {
        margin-left: 25px;
      }

      .icon {
        &:first-child {
          margin-top: 4px;
          margin-left: -10px;
          width: 35px;
        }
          
        &:nth-child(2) {
          margin-top: 4px;
          margin-left: -12px;
          width: 35px;
        }

        &:nth-child(3) {
          margin-top: 4px;
          margin-left: -13px;
          width: 39px;
        }

        &:last-child {
          margin-top: 2px;
          margin-left: -9px;
          width: 35px;
        }
       }

      .box-desc {
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 50px;
        margin-top: -38px;
      }

      .title-solution {
        font-size: 14px;
      }

      .desc-solution {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }

    .section-reading {
      padding: 0;
      margin-bottom: 40px;
      width: 100%;
      height: auto;
     
      .healthy-content {
        padding-right: 2px;
        margin-top: -3px;
        margin-bottom: 46px;
      }

      .heading {
        padding-top:26px;
        margin-bottom: 2px;
        font-size: 20px;
      }

      .subheading {
        padding-top: 3px;
        padding-bottom: 10px;
        
        font-size: 12px;
      }

      .btn-filter {
        display: none;
      }

      .swiper-container {
        margin-top: 7px;
        width: 100%;
        height: auto; 
      }

      .reading-content {
        top: 50%;
      
        padding-bottom: 0;
        padding-left: 3px;
      }

      .title-news {
        padding: 6px 97px 0 0;
        margin-left: 11px;

        font-size: 17px;
      }

      .date {
        margin: 0 15px -3px;

        font-size: 10px;
      }

      .category-news,
      .category-health,
      .category-success,
      .category-case {
        padding: 1px 6px;
        margin-left: 11px;

        font-size: 11px;
      }

      .title-health {
        padding-top: 1px;
        padding-right: 0;
        margin-bottom: 1px;
        margin-left: 13px;

        font-size: 14px;
      }
        
      .title-success {
        padding-top: 1px;
        padding-right: 0;
        margin-left: 13px;
        margin-bottom: 17px;

        font-size: 14px;
      }

      .title-case {
        padding-top: 0;
        padding-right: 0;
        margin-bottom: 18px;
        margin-left: 13px;

        font-size: 14px;
      }
       
      .swiper-slide {
        &:first-child {
          width: 99%;
          height: auto;

          background-image: url('../assets/images/16.5.fw.png');
          background-size: cover;
        }

        &:nth-child(2) {
          width: 49%;
          height: auto;

          background-image: url('../assets/images/17.5.fw.png');
          background-size: cover;
        }

        &:nth-child(3) {
          width: 49.2%;
          height: auto;

          background-image: url('../assets/images/18.5.fw.png');  
          background-size: cover;
        }

        &:last-child {
          width: 49.2%;
          height: 197px;

          background-image: url('../assets/images/19.5.fw.png');
          background-size: cover;
        }
      }

      .btn-journal {
        right: 6px;
        top: -13px;

        padding: 13px 43px;

        font-size: 12px;
      }
    }

    .section-information-system {
      margin-bottom: 0;

      background-image: none;
      background-color: $very-light-gray;

      .title {
        position: absolute;
        top: 41px;

        padding-left: 0;

        font-size: 20px;
      }

      .img-top-info {
        position: relative;
        top: -31px;
        left: -5px;

        display: block;
        margin-top: 0; 
        width: 77px;
      }
          
      .img-fluid img {
        position: relative;
        bottom: -22px;
        right: 18px;;

        width: 105%; 
      }
        
      .text-blue {
        right: 2px;
        bottom: 4px;

        font-size: 21px;
      }

      .content-info {
        position: static;

        padding-top: 0;
        padding-right: 8px;
      }

      .description {
        padding: 22px 14px 17px 0;
        margin: 0;

        font-size: 14px;
        line-height: 24px;
      }

      .content {
        position: relative;

        padding: 10px 0;
      }

      .item-list {
        padding:3px 3px 3px 3px;
      }

      .item-desc{
        display: flex;
        margin: -38px 15px 18px 40px;
        
        font-family: $font-opensans-bold;
        font-size: 14px;
      }

      .unstyled-info {
        padding: 12px 0 0;
      }

      .icon-list {
        position: relative;
        top: -6px;
        right: 4px;

        max-width: 12%;
      }

      .btn-solution {
        display: none;
      }

      .img-fluid-bottom {
        display: none;
      }
    }

    .section-app{
      padding-top: 0;

      border-right: 0.5px solid rgba(255, 255, 255, 0.3);

      .box-assistance-app  {
        padding: 29px 14px 26px;
      }

      .heading {
        padding-top: 5px;
        margin: 0;

        font-size: 25px;
      }

      .subheading{
        font-size: 15px;
        line-height: 24px;
      }

      .img-box-app {
        padding: 4px 0;
      }

      .img-app {
        &:first-child {
          margin: 3px 0 0 2px;
          width: 45%;
        }
          
        &:last-child {
          margin: 3px 7px 0 2px;
          width: 45%;
        }
      }

      .img-fluid {
        display: none;
      }
    }
  }
}

@media only screen and  (min-width:2000px) {
  .home {

    .side-floating {
      top: 26.5%;

      width: 61px;
    }
  
    .section-banner {
      .banner-content {
        margin-left: 26px;
        margin-bottom: 21.4%;
      }
  
      .banner-title {
        padding-top: 4%;
      }
  
      .desc {
        display: block;
        padding: 49px 5px 10px;
       
        font-size: 16px;
        color: $white;
      }
  
      .banner-icons {
        padding: 0;
      }
    }
  
    .section-mission {
      .content-mission {
        padding-top: 63px;
      }
  
      .img-fluid {
        left: 3%;
      }
  
      .content {
        left: 17%;
      
        padding: 0 22%;
      }
  
      .unstyled-items {
        padding-left: 4px;
      }
  
      .btn-assist {
        top: 3px;
        right: 7px;
      }
  
      .btn-history {
        right: 3px;
      }
  
      .box-content {
        margin-top: -36.2%;
        margin-left: 63.1%;
      }
  
      .box-title {
        text-align: left;
      }
  
      .box-solutions {
        top: 22%;
        right: 22%;

        padding: 0 10px;
      }
    }
  
    .section-reading {
      .healthy-content {
        padding: 0 22px;
        margin-bottom: 0;
      }
  
      .subheading {
        margin-bottom: 13px;
      }
  
      .btn-filter {
        padding: 21px 27px;
      }
  
      .swiper-container {
        left: 10px;
      }

      .swiper-slide {
        &:first-child {
          width: 41.6%;
          height: 515px;
          
          background-size: cover;
        }

        &:nth-child(2) {
          width: 20.6%;
          height: 515px;
         
          background-size: cover;
        }

        &:nth-child(3) {
          width: 20.4%;
          height: 515px;
        
          background-size: cover;
        }

        &:last-child {
          width: 26.3%;
          height: 515px;
        
          background-size: cover;
        }
      }
  
      .reading-content {
        top: 66%;
      }

      .date {
        margin: 19px 0 17px;
      }
  
      .title-news {
        padding-top: 9px;
      }
  
      .title-health,
      .title-success,
      .title-case {
        padding-top: 11px;
      }
  
      .category-news {
        margin: 0 7px;
        padding: 4px 11px;
      }
  
      .category-case {
        padding: 4px 16px;
      }
  
      .btn-journal {
        margin: 28px 11px 4px;
      }
    }
  
    .section-information-system {
      margin-bottom: 10.1%;

      background-position: unset;
  
      .content {
        padding: 9px;
      }
      
      .description {
        padding: 19px 53px 30px 13px;
      }
    }
  
    .section-assistance-app {
      border-bottom: 0 solid rgba(255, 255, 255, 0.3);
        
      .box-assistance-app {
        padding-left: 25px;
      }
    
      .img-fluid {
        margin-top: -22%;
        margin-left: 9%;
      }  
    }
  }
}
    
@media  (min-width:1200px) and (max-width: 1699px) {
  .home {
    .side-floating {
      right: 0;
    }
 
    .section-banner {
      padding-bottom:78px;
      width: 100%;
      height: auto;

      background-image: url('../assets/images/3.fw.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .banner-content {
        position: relative;
        top: 327px;

        margin-bottom: 21.9%;
      }

      .banner-title {
        font-family: $font-opensans-semibold;
        color: $white;
        font-size: 62px;   
      }

      .swiper-pagination-bullet {
        position: relative;
        top: 7px;
        left: 4px;

        margin:0 4px;
      }

      .swiper-pagination-bullet-active {
        background: $white;
        
        opacity: 1;
      }

      .banner-icons {
        padding-top: 52px;
      }

      .icon {
        &:first-child {
          margin-right: 59px;
        }

        &:nth-child(2) {
          margin-right: 10px;
        }

        &:last-child {
        margin-left: 2px;
        }
      }   
    
      .icon-desc {
          display: flex;
          flex-direction: row;
          padding: 10px 0 97px;

          font-size: 16px;
          color: $white;
          text-decoration: none;
        
      }

      .description {
          &:first-child {
            margin-right: 60px;
            width: 4%;
          
            font-size: 16px;
            text-align: center;   
          }

          &:nth-child(2) {
            margin-right: 16px;

            text-align: center;
          }

          &:last-child {
            margin-left: 27px;
            width: 5%;
          
            text-align: center;
          }
      }

      .desc {
        display: none;
      } 
    }

    .section-mission {
      padding-bottom: 20px;
      margin-bottom: 20px;
      width: 100%;
      height: 666px;

      .content-mission {
        padding: 76px 15px;
      }

      .img-fluid {
        position: relative;
        left: 3%;
        bottom: -3%;

        width: 45%;
      }

      .content-solution {
        margin-top: -12px;
      }

      .content { 
        bottom: 45%;
        left: 47%;
        width: 66%;

        padding: 5px 15px;

        .heading {
          padding: 5px;

          font-size: 40px;
        }

        .item {
          font-size: 18px;
        }

        .button-wrapper {
          margin-top: 65px;
        }

        .btn-assist {
          padding: 18px 15px;
          margin: 0;

          font-size: 13px;
        }

        .btn-history {
          padding: 18px 42px;
          margin: 0;
          font-size: 13px;
        }
      }

      .box-content {
        padding: 0;
        margin-top: -79%;
        margin-left: 58.3%;

        .box-img {
          width: 100%;
          height: 719px;
          }

        .box-solutions {
          top: 97px;
          left: 62px;
          right: 62px;
        }

        .box-title {
          font-size: 40px;
          text-align: left;
        }

        .box-desc {
          position: relative;
          top: -50px;
          left: 51px;

          padding: 0 78px 0px 10px; 
        }

        .title-solution {
          font-size: 18px;
        }

        .desc-solution {
          font-size: 19px;
        }

        .icon:first-child {
          padding-right: 2px;
          margin-top: 0px;
        }
      }
    }

    .section-reading {
      margin-bottom: 145px;
      width: 100%;
      height: auto;
     
      background-color: $white;
     
      .healthy-content {
        margin-bottom: 19px;
      }
  
      .heading {
        padding-top: 10px;
       
        font-family: $font-opensans-bold;
        font-size: 40px;
      }
  
      .subheading {
        font-family: $font-opensans-bold;
        font-size: 18px;
      }
  
      .btn-filter {
        position: relative;
        bottom: 58px;
        right: 3px;
  
        display: flex;
        justify-content: space-around;
        float: right;
        padding: 16px 1px;
        width: 14%;
  
        font-size: 15px;
        font-weight: 500;
        color: $mostly-black;
        text-align: center;
        
        background-color: $gray;
        border: none;
        border-radius: 32px;
        outline: 0;
  
        cursor: pointer;
        transition: color .2s ease-in-out;
    
        .dropdown-filter {
          font-family: $font-opensans-regular;
          font-weight: lighter;
          margin-left: 61px;
          font-size: 26px;
        }
      }
  
      .dropdown-menu {
        background-color: $gray;
        border: none;
      }
  
      .dropdown-item {
        padding: 10px 15px;
  
        font-size: 15px;
        color: $mostly-black;
      }
  
      .swiper-container {
        bottom: 40px;
  
        width: 100%;
        height: auto;   
      }
      
      .swiper-slide {
        &:first-child {
          width: 49.7%;
          height: 520px;
  
          background-image: url('../assets/images/16.5.fw.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
  
        &:nth-child(2) {
          width: 30.9%;
          height: 516px;
  
          background-image: url('../assets/images/17.5.fw.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; 
        }
  
        &:nth-child(3) {
          width: 28.7%;
          height: 517px;
  
          background-image: url('../assets/images/18.5.fw.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
  
        &:last-child {
          width: 30%;
          height: 516px;
  
          background-image: url('../assets/images/19.5.fw.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        } 
      }
  
      .reading-content {
        position: absolute;
        top: 67%;
  
        display: block;
        padding: 9px 10px 10px 34px; 
        
        text-decoration: none;
      }
  
      .title-news {
        padding: 0 25% 5px 3px;
     
        font-family: $font-opensans-bold;
        font-size: 29px;
        color: $white;   
      }
  
      .date {
        margin: 14px 0px 24px;
  
        font-family: $font-opensans-bold;
        color: $white;
        font-size: 14px;
      }
  
      .category-news {
        padding: 3px 12px;
        margin: 0 4px;
  
        font-family: $font-opensans-semibold;
        font-size: 15px;
        color: $white;
        
        background-color: $yellowish; 
      }
  
      .title-health {
        padding: 4px 2px 4px 0;
  
        font-family: $font-opensans-bold;
        font-size: 29px;
        color: $white;
      }
  
      .category-health {
        padding: 3px 11px;
        margin: 0 2px;
  
        font-family: $font-opensans-semibold;
        font-size: 15px;
        color: $white;
      
        background-color: $light-green;
      }
  
      .title-success {
        padding: 3px 28px 4px 3px;
  
        font-family: $font-opensans-bold;
        font-size: 29px;
        color: $white;
      }
  
      .category-success {
        padding: 3px 4px;
        margin: 0 4px;
        font-family: $font-opensans-semibold;
        font-size: 15px;
        color: $white;
      
        background-color: $very-light-blue;
      }
  
      .title-case {
        padding: 4px 86px 4px 3px;
        
        font-family: $font-opensans-bold;
        font-size: 29px;
        color: $white; 
      }
  
      .category-case {
        padding: 3px 6px;
        margin: 0 1px;
        font-family: $font-opensans-semibold;
        font-size: 15px;
        color: $white;
      
        background-color: $brown;
      }
  
      .btn-journal {
        position: relative;
        right: 3px;
        bottom: 1px;
  
        padding: 18px 61px;
        margin: 25px 2px 0;
  
        font-size: 16px;
        text-align: center;
        color: $white;
  
        background-image: linear-gradient(to right,$very-light-blue,$blue);
        border: none;
        border-radius: 32px;
        outline: none;
  
        cursor: pointer; 
        transition: color .2s ease-in-out;
      }
      
      .link {
        text-decoration: none;
      }
    }

    .section-information-system {
      margin-bottom: 17%;
      width: 100%;
      height: auto;

      .img-top-info {
        bottom: 65px;
        right: -4px;
      }

      .img-fluid img {
        width: 100%;
      }

      .description {
        padding: 5px 34px 8px 13px;
      }

      .unstyled-info {
        padding: 0;
      }

      .item-list {
        padding: 14px;
      }

      .item-desc {
        display: flex;
        margin: -38px 15px 0 42px;
          
        font-family: $font-opensans-semibold;
        font-size: 18px;
      }

      .icon-list {
        position: relative;
        bottom: 7px;

        padding: 0;
        width: 31px;
      }

      .btn-solution {
        left: 2px;

        margin: 10px 5px;
      }

      .img-fluid-bottom {
        top: 9%;
        left: 13px;  
      }
    }

    .section-app {
      .img-fluid {
        margin-left: -15px;
      }
    }
  }
}

@media  (min-width:334px) and (max-width: 399px) {
  .home {
    .section-mission {
      .box-title {
        padding-top: 9px;
        padding-left: 15px;
      }

      .icon {
        margin-left: -9px;
      }
    }

    .section-information-system {
      .content-info {
        position: static;

        padding-top: 0;
        padding-right: 8px;
      }
        
      .text-blue {
        bottom: -2px;
      }

      .description {
        padding: 15px 14px 17px 0;
         margin: 0;

        font-size: 14px;
        line-height: 24px; 
      }

      .content {
        position: relative;

        padding: 10px 0;
      }

      .item-list {
        &:first-child {
          padding:3px 3px 3px 3px;

          .icon-list {
            top: -10px;
          }
        }
        
        &:nth-child(2) {
          padding:3px 3px 3px 3px;
        }

        &:last-child {
          padding:3px 3px 3px 3px;
        }
        
      }

      .item-desc {
        display: flex;
        margin: -38px 15px 17px 42px;

        font-family: $font-opensans-bold;
        font-size: 14px;
      }

      .unstyled-info {
        padding: 12px 0 0;
      }

      .icon-list {
        position: relative;
        top: -6px;
        right: 4px;

        width: 10%;
      }
    }
  }
} 

@media (min-width:400px) and (max-width: 575px) {
  .home {
    .section-mission {
      .box-solutions {
        left: 9px;
      }
    }
    .section-reading {
      .title-health,
      .title-success {
        padding-top: 16px;
      }

      .title-case {
        margin-bottom: 18px;
      }
    }
    .section-information-system {
      .text-blue {
        bottom: -1px;
      }

      .item-list {
        &:first-child {
          .icon-list {
            top: -11px;
            right: 4px;

            max-width: 10%;
          }
        }

        &:nth-child(2) {
          .icon-list {
            top: -1px;

            max-width: 10%;
          }
        }

        &:last-child {
          .icon-list {
            max-width: 10%;
          }
        }
      }
    }
  }
}
  

